<!DOCTYPE html>
<html lang="eng" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">

<body>
	<div layout:fragment="content">
		<h1>Book List</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Fare</th>
					<th scope="col">Journey Time</th>
					<th scope="col">Name</th>
					<th scope="col">Detail</th>
				</tr>
			</thead>
			<tbody>
			
				<tr th:each="book:${stops}">
					<td th:text="${book.fare}"></td>
					<td th:text="${book.journeyTime}"></td>
					<td th:text="${book.name}"></td>
					<td th:text="${book.detail}"></td>
				</tr>

			</tbody>
		</table>
	</div>
</body>

</html>